<nav class="navbar navbar-dark bg-dark navbar-expand">
  <a class="navbar-brand" href="/">Convertify</a>
  <div class="navbar-collapse collapse">
     <div class="navbar-nav mr-auto">
      <% if current_user %>
          <%= link_to ('Edit Profile'),
          edit_user_registration_path, title: 'Edit Profile', class: 'nav-link nav-item' %>
          <%= link_to ('My Calculations'),
          calculations_path, title: 'My Calculations', class: 'nav-link nav-item' %>
          <%= link_to ('New Calculation'),
          calculation_new_path, title: 'New Calculation', class: 'nav-link nav-item' %>
      </div>
  </div>
          <form class="form-inline my-2 my-lg-0">
            <%= link_to('Logout', destroy_user_session_path,
            class: 'btn btn-outline-danger', title: 'Logout', :method => :delete) %>
          </form>
        <% else %>
        </div>
  </div>
          <form class="form-inline my-2 my-lg-0">
            <%= link_to('Sign In', new_user_session_path,
            class: 'btn btn-outline-success', title: 'Sign In') %>
          </form>

    <% end %>
</nav>